/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap');

/* ROOT */
:root {
  --font: 'Roboto Mono', monospace;
  --bgColor: #0a192f;
  --fontColor: #ccd6f6;
}

/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-family: var(--font);
  background-color: var(--bgColor);
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.fa-mountain {
  color: #60f6d3;
  line-height: 25px;
  transition: all 0.2s ease-in-out;
  background-position-y: -3px;
}

.fa-mountain:hover {
  background-image: radial-gradient(at center, #60f6d33f 15%, transparent 37%);
}

/* LOGO WRAPPER */
#logo-wrapper {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

/* LINKS WRAPPER */
#links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

/* LINKS - NAVBAR */
#navbar {
  display: flex;
  margin-right: 20px;
}

#nav-ul {
  display: flex;
  flex-direction: row;
}

#nav-ul > li {
  font-size: 0.8rem;
  list-style: none;
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #60f6d3;
  font-weight: 300;
}

span {
  color: var(--fontColor);
  transition: all 0.2s ease-in-out;
}

span:hover {
  color: #60f6d3;
}

/* LINKS - BUTTON */
button {
  height: 40px;
  width: 87px;
  border-radius: 6%;
  background: transparent;
  border: 1.5px solid #60f6d3;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #64fcd82d;
}

button:focus {
  outline: none;
}
