/* ------------------- FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap');

/* ----------------- VARIABLES ---------------- */
$bgPrimaryColor: #0a192f;
$bgSecondaryColor: #172a45;
$fontPrimaryColor: #ccd6f6;
$fontSecondaryColor: #60f6d3;

/* ------------------- ROOT ------------------- */
:root {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}

/* ------------------ GLOBAL ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $bgPrimaryColor;
}

/* ------------------ HEADER ------------------ */

.header {
  display: flex;
  height: 5.5rem;
  justify-content: space-between;
  align-items: center;

  &__logo {
    margin-left: 3rem;
    font-size: 1rem;

    .fa-mountain {
      color: #60f6d3;
      line-height: 25px;
      transition: all 0.2s ease-in-out;
      background-position-y: -3px;
    }

    .fa-mountain:hover {
      background-image: radial-gradient(
        at center,
        #60f6d33f 15%,
        transparent 37%
      );
    }
  }

  &__text {
    margin-right: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar {
  &__list {
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    list-style-type: none;
    font-size: 0.85rem;
  }

  &__item {
    margin: 0 1.5rem;
  }

  &__link {
    text-decoration: none;
    color: $fontSecondaryColor;

    &--span {
      color: $fontPrimaryColor;
    }

    &--span:hover {
      color: $fontSecondaryColor;
    }
  }
}

.resume {
  &__btn {
    height: 40px;
    width: 87px;
    border-radius: 6%;
    background: transparent;
    border: 1.5px solid #60f6d3;
    transition: all 0.2s ease-in-out;
  }

  &__btn:hover {
    background: #64fcd82d;
  }

  &__btn:focus {
    outline: none;
  }

  &__link {
    text-decoration: none;
    color: $fontSecondaryColor;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    &__text {
      margin-right: 3.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    position: relative;
  }

  .header__text {
    position: absolute;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 50vw;
    right: 0;
    top: 0;
    background-color: $bgSecondaryColor;
    box-shadow: -2px 1px 19px -1px rgba(0, 0, 0, 0.84);
  }

  .hamburger {
    position: absolute;
    top: 30px;
    right: 30px;

    &__line1 {
      width: 40px;
      height: 3px;
      background-color: #60f6d3;
      margin: 10px 5px;
    }

    &__line2 {
      width: 40px;
      height: 3px;
      background-color: #60f6d3;
      margin: 10px 5px;
    }

    &__line3 {
      width: 40px;
      height: 3px;
      background-color: #60f6d3;
      margin: 10px 5px;
    }
  }

  .navbar {
    height: 350px;
    width: 100%;
    margin-bottom: 50px;

    &__list {
      font-size: 1.1rem;
      font-weight: 300;
      flex-direction: column;
      height: 100%;
      align-items: center;
      text-align: center;
      justify-content: space-between;
    }

    &__link--span {
      display: table;
      font-size: 1.2rem;
    }
  }

  .resume {
    &__btn {
      width: 150px;
      height: 50px;
    }
  }
}
