/* ------------------- FONTS ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300&display=swap");
/* ----------------- VARIABLES ---------------- */
/* ------------------- ROOT ------------------- */
:root {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}

/* ------------------ GLOBAL ------------------ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0a192f;
}

/* ------------------ HEADER ------------------ */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-left: 3rem;
  font-size: 1rem;
}

.header__logo .fa-mountain {
  color: #60f6d3;
  line-height: 25px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-position-y: -3px;
}

.header__logo .fa-mountain:hover {
  background-image: radial-gradient(at center, #60f6d33f 15%, transparent 37%);
}

.header__text {
  margin-right: 3.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 2rem;
  list-style-type: none;
  font-size: 0.85rem;
}

.navbar__item {
  margin: 0 1.5rem;
}

.navbar__link {
  text-decoration: none;
  color: #60f6d3;
}

.navbar__link--span {
  color: #ccd6f6;
}

.navbar__link--span:hover {
  color: #60f6d3;
}

.resume__btn {
  height: 40px;
  width: 87px;
  border-radius: 6%;
  background: transparent;
  border: 1.5px solid #60f6d3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.resume__btn:hover {
  background: #64fcd82d;
}

.resume__btn:focus {
  outline: none;
}

.resume__link {
  text-decoration: none;
  color: #60f6d3;
}

@media only screen and (min-width: 768px) {
  .header__text {
    margin-right: 3.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    position: relative;
  }
  .header__text {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 50vw;
    right: 0;
    top: 0;
    background-color: #172a45;
    -webkit-box-shadow: -2px 1px 19px -1px rgba(0, 0, 0, 0.84);
            box-shadow: -2px 1px 19px -1px rgba(0, 0, 0, 0.84);
  }
  .hamburger {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .hamburger__line1 {
    width: 40px;
    height: 3px;
    background-color: #60f6d3;
    margin: 10px 5px;
  }
  .hamburger__line2 {
    width: 40px;
    height: 3px;
    background-color: #60f6d3;
    margin: 10px 5px;
  }
  .hamburger__line3 {
    width: 40px;
    height: 3px;
    background-color: #60f6d3;
    margin: 10px 5px;
  }
  .navbar {
    height: 350px;
    width: 100%;
    margin-bottom: 50px;
  }
  .navbar__list {
    font-size: 1.1rem;
    font-weight: 300;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar__link--span {
    display: table;
    font-size: 1.2rem;
  }
  .resume__btn {
    width: 150px;
    height: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */